.venv/
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
*.txt
*.ps1
terraform/variables.tf
dbt/retail360_dbt/logs
dbt/retail360_dbt/target
**/__pycache__/
airflow/logs
terraform/terraform.tfstate.*.backup
dbt/retail360_dbt/dbt_packages/